extends layout

block content
    p
        | Welcome to 3DJobs.

    div.flex.horizontal
        div
            include inc/div_add
            
            div#spools
                h2 Current spools
                
                div#messages_spools
                    
                ul
                    each spool in spools
                        li(data-spool_id=spool.id)= spool.description + ' (' + spool.weight + 'g, ' + spool.price / 100 + '€)'
                            |
                            |
                            a.orange(href='/edit_spool_' + spool.id) Edit
                            |
                            |
                            a.red(href='') Mark as finished
                    else
                        li No spools
                
                p
                    a(href='/finished_spools') Finished spools
                
            div#users
                h2 Users
                
                ul
                    each user in users
                        li= user.first_name + ' ' + user.last_name.toUpperCase()
                            |
                            |
                            a.orange(href='/edit_user_' + user.id) Edit
                            |
                            |
                            a.small.red(href='/remove_user_' + user.id) Remove
                    else
                        li No users
            
        div.grow
            include inc/div_charts
                
            div#history
                h2 Last 5 jobs
    
                p
                    a(href='/history') History

                table#jobs
                    tr
                        th #
                        th Date
                        th User
                        th Description
                        th Material
                        th Weight
                        th Time
                        th Estimated price

                    each job in jobs
                        tr
                            td
                                a.orange(href='/edit_job_' + job.id)= job.id
                                br
                                a.small.red(href='/remove_job_' + job.id) Remove
                            td= new Date(job.date).toDateString()
                            td= job.first_name + ' ' + job.last_name.toUpperCase()
                            td= job.description
                            td= job.spool_description
                            if job.weight
                                td= job.weight + 'g'
                            else
                                td
                            td= (job.time_h || 0) + 'h' + (job.time_min || 0) + 'min'
                            td= (job.estimated_price / 100).toFixed(2) + '€'
    
    include inc/div_modal_edit_job
    include inc/div_modal_edit_spool
    include inc/div_modal_edit_user
    include inc/div_modal_confirm_deletion
    
    script(type='text/javascript', src='javascripts/3djobs.js')
    script(type='text/javascript', src='javascripts/Chart.min.js')
    script(type='text/javascript', src='javascripts/randomColor.js')
    script(type='text/javascript', src='javascripts/tinycolor.js')
    script(type='text/javascript', src='javascripts/charts.js')
